@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');

body {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 1px;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #676767;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    color: #676767;
}

.fa, .far, .fas {
	font-family: fontawesome !important;
}

img {
    width: 100%;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}

p {
    line-height: 32px;
}

ul,
li {
    margin: 0;
    padding: 0;
}

/* -------------------- NAVBAR */

.jumbotron{
    padding: 0;
    margin: 0;
    background: transparent;
    height: 100%;
}

.welcome-image-area {
    position: relative;
    height: 100%;
    background: url(../images/backgrounds/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
}

.welcome-image-area:after {
    position: absolute;
    background: rgba(0, 0, 0, .6);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}
.display-table {
    display: table;
    width: 100%;
    height: 100%;
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.header-text {
   margin-top: 50px;
}
.header-text h2 {
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.header-text h3 {
    color: #fff;
    font-size: 100px;
    margin: 0;
    font-weight: 900;
    text-transform: lowercase;
}

.header-text a {
    display: inline-block;
    background: #fff;
    color: #676767;
    padding: 10px 20px;
    border-radius: 30px;
    margin-top: 30px;
    font-size: 12px;
    text-transform: uppercase;
}

.header-top-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    background: #fff;
}

.logo {
    padding-top: 28px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.logo a {
    display: block;
    color: #71c9ce;
    font-size: 40px;
    font-family: 'Sacramento', cursive;
}

.mainmenu .navbar-nav li a {
    color: #676767;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 30px 15px;
    -webkit-transition: .3s;
    transition: .3s;
    font-weight: 600;
}
.mainmenu .navbar-nav li a i{
    margin-right: 6px;
    color: #71c9ce;
    font-size: 18px;
}
.mainmenu .navbar-nav li a:hover {
    background: none;
    color: #ccc;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.nav li a:focus,
.nav li a:hover {
    background: none;
    color: #ccc;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar {
    margin: 0;
}

.menu-bg {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background: #676767;
}

.menu-bg .logo {
    padding-top: 18px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.menu-bg .mainmenu .navbar-nav li a {
    color: #fff;
    padding: 20px 15px;
    -webkit-transition: .3s;
    transition: .3s;
}

.menu-bg .mainmenu .navbar-nav li a:hover {
    color: #fff;
}

/* -------------------- ABOUT ME */

/* -------------------- WORK */
/* -------------------- SKILLS */
/* -------------------- CONTACT */
/* -------------------- FOOTER */
/* -------------------- MEDIA QUERIES */
